<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>GifGrabber</title>
    <link rel="stylesheet" href="./styles.css">
</head>

<body>
    <div class="app" v-bind:class="{ active: capturer.active, invalid: !capturer._crop.valid }">
        <div class="draggable">

        </div>
        <div class="record" v-bind:class="{ loaded: true }">
            <div v-if="!isCropWindowOpen" v-on:click="openCropWindow()">
                <h1>Select area</h1>
            </div>
            <div v-if="!capturer.active && isCropWindowOpen" v-on:click="startRecording()">
                <h1>Start recording</h1>
            </div>
            <div v-if="capturer.active" v-on:click="stopRecording()">
                <h1>Stop recording</h1>
            </div>
        </div>
    </div>
</body>
<script src="../node_modules/vue/dist/vue.js" charset="utf-8"></script>
<script>
    // You can also require other files to run in this process
    require('./renderer.js')
</script>

</html>
